# Laravel & Environment
.env
.env.*
!.env.example

# Vendor & Dependencies
/vendor/
node_modules/
whatsapp-bot/node_modules/

# Laravel Cache & Sessions
/storage/*.key
/storage/framework/sessions/
/storage/framework/cache/
/storage/framework/views/
storage/logs/

# Public Storage
/public/storage/
public/hot
public/build

# PHPUnit
.phpunit.result.cache
/.phpunit.cache

# IDE & Tooling
/.idea
/.vscode
/.fleet

# Node / Yarn logs
npm-debug.log
yarn-error.log

# Other configs
Homestead.json
Homestead.yaml
auth.json

# Custom directories (jika ada folder sessions manual)
sessions/
